<p id="notice"><%= notice %></p>
<div class='header'> 
  <h1>Wiki for Games</h1>
  <h4>Find information about a game. Add a game if it isn't present</h4>
</div>
<table>
  <thead>
    <tr>
      <th class="colspan">
    </tr>
  </thead>
  <tbody>
    <% if @games != nil %>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.title %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Game', new_game_path %>
